.vs/
.vscode/
.idea/
.venv/
bin/
bin-int/

tools/
vendor/*
!vendor/glfw/
!vendor/glad/
!vendor/imgui/
!vendor/glm/
!vendor/imguizmo/
!vendor/imviewguizmo/

imgui.ini
config/editor_ui_settings.ini
config/imgui_layout.ini
assets/samples/config/
scripts/local/build-toolchain.local.json

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.db
*.VC.db

*.log
*.tmp

docs/project-control/**
