.vs/
.idea/

bin/
bin-int/

tools/
vendor/

imgui.ini
config/editor_ui_settings.ini
config/imgui_layout.ini
assets/samples/config/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.db
*.VC.db

*.log
*.tmp
